{% extends "base.twig" %}

{% block content %}

<div class="l-blog-archive page-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center">Paul’s weekly blog</h2>
			</div>
		</div>
		<div class="row l-blog-archive__row">
			{% for blogpost in posts %}
				{% if blogpost.get_field('hero_background_image') %}
					{% set thumbsrc = blogpost.get_field('hero_background_image')|resize(400, 200) %}
					{% else %}
					{% set thumbsrc = site.theme.link ~ "/app/img/logo/logo-white-on-black.png" %}
				{% endif %}
				<div class="col-md-4 col-sm-6 l-blog-archive__post">
					<a href="{{blogpost.link}}"><img src="{{thumbsrc}}" alt="" class="l-blog-archive__post--thumb"></a>
					<h6>{{blogpost.category}}</h6>
					<h3><a href="{{blogpost.link}}">{{blogpost.title}}</a></h3>
					<h5>{{ post.post_date|date}}</h5>
					<p>{{blogpost.post_content|excerpt(30)}}</p>
					<a href="{{blogpost.link}}">Continue Reading</a>
				</div>
				{% if loop.index is divisibleby(3) and not loop.last %}
					</div>
					<div class="row l-blog-archive__row">
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}