<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{site.language_attributes}}> <!--<![endif]-->
	{% block html_head_container %}
	{% include 'html-header.twig' %}
		{% block head %}
		{% endblock %}
	{% endblock %}

	{% spaceless %}

		<body class="{{body_class}}" data-template="base.twig">
			{% if function('wpmd_is_phone') %}
				{% include 'layout/video-modal.twig' %}
			{% endif %}
			
			{% include 'layout/masthead.twig' %}
			
			{% block content %}
				Sorry, no content
			{% endblock %}

			{% block footer %}
				{% if noPreview == false %}
					{% include 'layout/blog-preview.twig' %}
				{% endif %}
				
				{% include 'layout/footer.twig' %}
				{{ function('wp_footer') }}
			{% endblock %}
		</body>

	{% endspaceless %}
</html>
