<div class="l-blog-preview page-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center">Paul’s weekly blog</h2>
			</div>

			{% for blogpost in posts %}
				<div class="col-md-4 l-blog-preview__post">
					<h6>{{blogpost.category}}</h6>
					<h3>{{blogpost.title}}</h3>
					<h5>{{ post.post_date|date}}</h5>
					<p>{{blogpost.post_content|excerpt(30)}}</p>
					<a href="{{blogpost.link}}">Continue Reading</a>
				</div>
			{% endfor %}
		</div>
	</div>
</div>