
{% set heroBgImg = post.get_field('hero_background_image') ? post.get_field('hero_background_image') : site.theme.link ~ "/app/img/tmp/placeholder-hero.jpg" %}

{% if post.get_field('hero_title_text') %}
	{% set heading = post.get_field('hero_title_text') %}
{% endif %}

{% if function('wpmd_is_phone') or post.get_field('hero_yt_video_id') == false %}
	{% set background = true %}
{% endif %}

<div class="l-hero {% if single %}smaller{% endif %}" {% if background %}style="background-image:url('{{ heroBgImg}}')"{% endif %}>
	<div class="l-hero__overlay">
		<div class="l-hero__text">
			{% if single %}
				<h6>{{post.category}}</h6>
				<h2>{{heading}}</h2>
				<p class="blog-author">
					<span>By</span> {{ post.author.nickname }} <span>&bull;</span> {{ post.post_date|date}}
				</p>

			{% else %}

				<h2>{{heading}}</h2>
			{% endif %}
		</div>
		
		{% if function('wpmd_is_phone') and post.get_field('hero_yt_video_id') == true %}
			<div class="l-hero__play">
				<img src="{{site.theme.link}}/app/img/icon/btn-play.png" alt="" class="js-play">
			</div>
		{% endif %}
	</div>
	
	{% if function('wpmd_is_phone') == false and post.get_field('hero_yt_video_id') == true %}
		<div id="player"></div>

		<script>
			var tag = document.createElement('script');

			tag.src = "https://www.youtube.com/iframe_api";
			var firstScriptTag = document.getElementsByTagName('script')[0];
			firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

			var player;

			function onYouTubeIframeAPIReady() {
				player = new YT.Player('player', {
					height: '100%',
					width: '100%',
					videoId: '{{post.get_field("hero_yt_video_id")}}',
					playerVars: { 
						'controls': 0, 
						'rel' : 0,
						'showinfo' : 0
					},
					events: {
						'onReady': onPlayerReady,
						'onStateChange': 
						    function(e){
						        if (e.data === YT.PlayerState.ENDED) {
						            player.playVideo(); 
						        }
						    }
					},
				});

				// player.cuePlaylist(playlist:['RLiXPexkNY','M9US-cXJMo']):Void);

				player.cuePlaylist({list:'RLiXPexkNY,M9US-cXJMo',});
			}

			function onPlayerReady(event) {
				event.target.setVolume(0);
				event.target.playVideo();
			}

			function stopVideo() {
				player.stopVideo();
			}
		</script>
	{% endif %}
</div>