
{% set heroBgImg = post.get_field('home_pt_background_image') %}

<div class="l-hero l-personal-training page-section" style="background-image:url('{{ heroBgImg}}')">
	<div class="container">
		<div class="row">
			<div class="col-md-7 l-personal-training__content ab-v-center">
				<h2>{{post.get_field('home_pt_title')}}</h2>
				
				{{post.get_field('home_pt_text')}}

				<ol>
					{% for item in post.get_field('home_pt_list') %}
					    <li>{{item.home_pt_list_item}}</li>
					{% endfor %}
				</ol>

				<a href="{{post.get_field('home_pt_button_link')}}" class="b-button">{{post.get_field('home_pt_button_text')}}</a>
			</div>
		</div>
	</div>
</div>
